<?xml version="1.0"?>
<!--
    Note: As an alternative to hand editing this file you can use the
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in
    machine.config.comments usually located in
    \Windows\Microsoft.Net\Framework\v2.x\Config
-->
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
 <appSettings>
	 <add key="PublicKey" value="Your Access Key found in http://aws/amazon.com -> Account -> Security Settings" />
	 <add key="SecretKey" value="Your Secret Key"/>
 </appSettings>
	<system.web>
    <machineKey decryption="AES" decryptionKey="4E9D00F19A9D53762A661A6C4BB4AAAC28099354A236CF1D0A2B728BA88B1BE8" validation="HMACSHA256" validationKey="91C1174039A78751ADC8B7D7C34A9323843B86EDB1D66FF60365543F7EC0F7E3586F5A699968B4D8157AE7454C1A1E57B185E0A209D595DEDA8EF5545A71806E" />
		<!--
            Set compilation debug="true" to insert debugging
            symbols into the compiled page. Because this
            affects performance, set this value to true only
            during development.
        -->
		<compilation debug="true">
			<assemblies>
			</assemblies>
		</compilation>
		<customErrors mode="Off"/>
		<!--
            The <authentication> section enables configuration
            of the security authentication mode used by
            ASP.NET to identify an incoming user.
        -->
		<authentication mode="Windows"/>
		<!--
            The <customErrors> section enables configuration
            of what to do if/when an unhandled error occurs
            during the execution of a request. Specifically,
            it enables developers to configure html error pages
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
	</system.web>
</configuration>
